@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

.logo-header {
  height: 200px;
  width: auto;
}

.site-title {
  color: #a5b4fc;
  font-size: 3.5em;
  font-family: "Lobster", cursive;
}

h1,
footer {
  font-size: 2em;
  color: #a5b4fc;
  font-family: "Lobster", cursive;
}

header,
footer {
  background-color: white;
  padding: 10px 20px;
}

p {
  font-size: 1.1em;
  color: #f9f8ff;
}

h2,
h3,
label {
  color: #f9f8ff;
}

a {
  color: #242424;
  text-decoration: none;
}

.logo-footer {
  height: 100px;
  width: auto;
}

.text-justify {
  text-align: justify;
}

p.card-text {
  color: #1f2039;
}

.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
}

.img-events {
  height: 200px;
  width: auto;
}

legend {
  background-color: #a5b4fc;
  color: #fff;
  padding: 3px 6px;
}
